# This file is required to workaround `.editorconfig` autogeneration (see #96845).

# Some tests handle invalid syntax deliberately; exclude relevant attributes.

[parser/features/mixed_indentation_on_blank_lines.gd]
trim_trailing_whitespace = false

[parser/warnings/empty_file_newline.notest.gd]
insert_final_newline = false

[parser/warnings/empty_file_newline_comment.notest.gd]
insert_final_newline = false
