<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.GodotAppInstrumentedTestPlugin"
            android:value="com.godot.game.test.GodotAppInstrumentedTestPlugin"/>
    </application>

</manifest>
