Checks:
  - -*
  - modernize-deprecated-headers
#  - modernize-redundant-void-arg # TODO Re-activate
#  - modernize-use-bool-literals # TODO Re-activate
#  - modernize-use-default-member-init # TODO Re-activate
#  - modernize-use-nullptr # TODO Re-activate
#  - readability-braces-around-statements # TODO Re-activate
#  - readability-redundant-member-init # TODO Re-activate
HeaderFileExtensions: ["", h, hh, hpp, hxx, inc, glsl]
ImplementationFileExtensions: [c, cc, cpp, cxx, m, mm, java]
HeaderFilterRegex: (core|doc|drivers|editor|main|modules|platform|scene|servers|tests)/
FormatStyle: file
CheckOptions:
  modernize-deprecated-headers.CheckHeaderFile: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true
