---
Checks: " *,
        -altera-id-dependent-backward-branch,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -bugprone-argument-comment,
        -bugprone-branch-clone,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-macro-parentheses,
        -bugprone-narrowing-conversions,
        -bugprone-reserved-identifier,
        -bugprone-suspicious-string-compare,
        -bugprone-unhandled-self-assignment,
        -bugprone-virtual-near-miss,
        -cert-dcl16-c,
        -cert-dcl37-c,
        -cert-dcl51-cpp,
        -cert-dcl58-cpp,
        -cert-oop54-cpp,
        -clang-diagnostic-error,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-pro-type-member-init
        -cppcoreguidelines-c-copy-assignment-signature,
        -cppcoreguidelines-explicit-virtual-functions,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-narrowing-conversions,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-prefer-member-initializer,
        -cppcoreguidelines-pro-type-member-init,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-cstyle-cast,
        -cppcoreguidelines-pro-type-static-cast-downcast,
        -cppcoreguidelines-pro-type-const-cast,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-use-default-member-init,
        -cppcoreguidelines-special-member-functions,
        -fuchsia-default-arguments-calls,
        -fuchsia-default-arguments-declarations,
        -fuchsia-overloaded-operator,
        -fuchsia-trailing-return,
        -google-default-arguments,
        -google-explicit-constructor,
        -google-readability-casting,
        -google-readability-namespace-comments,
        -google-readability-todo,
        -google-runtime-int,
        -google-runtime-operator,
        -hicpp-avoid-c-arrays,
        -hicpp-explicit-conversions,
        -hicpp-member-init,
        -hicpp-named-parameter,
        -hicpp-no-array-decay,
        -hicpp-uppercase-literal-suffix,
        -hicpp-use-auto,
        -hicpp-use-equals-default,
        -hicpp-use-equals-delete,
        -hicpp-use-override,
        -hicpp-use-nullptr,
        -hicpp-signed-bitwise,
        -hicpp-special-member-functions,
        -llvm-else-after-return,
        -llvm-header-guard,
        -llvm-include-order,
        -llvm-namespace-comment,
        -llvmlibc-callee-namespace,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-inline-function-decl,
        -llvmlibc-restrict-system-libc-headers,
        -misc-const-correctness,
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,
        -misc-unused-parameters,
        -misc-unconventional-assign-operator,
        -modernize-avoid-c-arrays,
        -modernize-concat-nested-namespaces,
        -modernize-macro-to-enum,
        -modernize-pass-by-value,
        -modernize-use-auto,
        -modernize-use-equals-default,
        -modernize-use-equals-delete,
        -modernize-use-default-member-init,
        -modernize-use-nodiscard,
        -modernize-use-nullptr,
        -modernize-use-bool-literals
        -modernize-use-default-member-init
        -modernize-use-override,
        -modernize-use-trailing-return-type,
        -modernize-use-using,
        -modernize-loop-convert,
        -modernize-raw-string-literal,
        -modernize-return-braced-init-list,
        -modernize-redundant-void-arg
        -performance-no-int-to-ptr,
        -performance-type-promotion-in-math-fn,
        -performance-unnecessary-value-param,
        -performance-unnecessary-copy-initialization,
        -readability-avoid-const-params-in-decls,
        -readability-avoid-unconditional-preprocessor-if,
        -readability-const-return-type,
        -readability-convert-member-functions-to-static,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
        -readability-include-directive,
        -readability-inconsistent-declaration-parameter-name,
        -readability-implicit-bool-conversion,
        -readability-isolate-declaration,
        -readability-named-parameter,
        -readability-non-const-parameter,
        -readability-magic-numbers,
        -readability-make-member-function-const,
        -readability-misplaced-array-index,
        -readability-uppercase-literal-suffix,
        -readability-redundant-string-init,
        -readability-redundant-member-init
        -readability-simplify-boolean-expr,
        -readability-static-accessed-through-instance,
        -readability-suspicious-call-argument,
"
