Checks:
  - -*
  - cppcoreguidelines-pro-type-member-init
  - modernize-deprecated-headers
  - modernize-redundant-void-arg
  - modernize-use-bool-literals
  - modernize-use-default-member-init
  - modernize-use-nullptr
  - readability-braces-around-statements
  - readability-redundant-member-init
HeaderFileExtensions: ["", h, hh, hpp, hxx, inc, glsl]
ImplementationFileExtensions: [c, cc, cpp, cxx, m, mm, java]
HeaderFilterRegex: (core|doc|drivers|editor|main|modules|platform|scene|servers|tests)/
FormatStyle: file
CheckOptions:
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-deprecated-headers.CheckHeaderFile: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true
