root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab

[*.{cpp,hpp,c,h,mm}]
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[.travis.yml]
indent_style = space
indent_size = 2
