# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

core/*            @reduz

doc/*             @godotengine/documentation

drivers/gles2/*   @karroffel
drivers/gles3/*   @reduz

editor/icons/*    @djrm

main/*            @reduz

misc/*            @akien-mga

modules/bullet/*     @AndreaCatania
modules/enet/*       @godotengine/network
modules/gnative/*    @karroffel
modules/gdscript/*   @reduz @vnen @bojidar-bg
modules/mbedtls/*    @godotengine/network
modules/mobile_vr/*  @BastiaanOlij
modules/mono/*       @neikeq
modules/regex/*      @LeeZH
modules/upnp/*       @godotengine/network
modules/websocket/*  @godotengine/network

platform/javascript/*  @eska014
platform/uwp/*         @vnen

scene/main/*      @reduz

server/physics*   @reduz @AndreaCatania
server/visual*    @reduz @karroffel

thirdparty/*      @akien-mga
