<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.editor">

    <application>

        <activity android:name=".GodotXRProjectManager"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:process=":GodotXRProjectManager"
            android:launchMode="singleTask"
            android:exported="true"
            android:label="@string/godot_xr_editor_name_string"
            android:screenOrientation="userLandscape"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GodotXREditor"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:process=":GodotXREditor"
            android:launchMode="singleTask"
            android:exported="false"
            android:label="@string/godot_xr_editor_name_string"
            android:screenOrientation="userLandscape"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GodotXRGame"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:process=":GodotXRGame"
            android:launchMode="singleTask"
            android:exported="false"
            android:label="@string/godot_xr_editor_name_string"
            android:screenOrientation="userLandscape"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

    </application>

</manifest>
