duplicate, 
delete 
options, 
unite equal tracks
fix (harcode) seek
biziers
sound tracks
play icons on key tracks

Siempre quise se parte de un equipo que desarrolle un juego, lo publique en Steam y consiga un Overwhelmingly Positive. 

Posiblemente eso no me de nunca.. pero esto es muchísimo mejor! Gracias a todos por tenerle fé a este proyecto hermoso!
