BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV, SPAN {
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

a {

	text-decoration: none;

}

a:hover {

	text-decoration: underline;
}

td.top_table {

	padding: 5px;
}

div.method_doc {

	padding-bottom: 30px;
}

div.method_description {
	margin-left: 30px;
}

list.inh_class_list {
	margin-left: 30px;
	
}

div.inh_class_list {
	margin-left: 30px;
	
}

div.method_doc div.method {

	font-size: 12pt;
	font-weight: bold;
}

span.funcdecl {

	color: #202060;
}

span.funcdef {

	color: #202060;
}


span.qualifier {

	font-weight: bold;
}


span.symbol {

	/*font-weight: bold;*/
	color: #471870;
}


span.datatype {

	color: #6a1533;
}

tr.category_title {

	background-color: #333333;
}
a.category_title {
        font-weight: bold;
	color: #FFFFFF;
}

div.method_list {

	margin-left: 30px;
}

div.constant_list {

	margin-left: 30px;
}

div.member_list {

	margin-left: 30px;
}

div.description {

	margin-left: 30px;
}

div.class_description {

	margin-left: 30px;
}

div.method_list li div {

	display: inline;
}

div.member_list li div.member {

	display: inline;
}

div.constant_list li div.constant {

	display: inline;
}

span.member_description {

	font-style: italic;
	color: grey;
}

span.constant_description {

	font-style: italic;
	color: grey;
}

span.identifier {

	font-weight: bold;
}


table.class_table td {

	vertical-align: top;
}

