root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[{*.py,SConstruct,SCsub}]
indent_style = space

[{*.{yml,yaml},.clang{-format,-tidy,d}}]
indent_size = 2
indent_style = space

[{*.props,*.vcxproj}]
indent_size = 2
indent_style = space
