tags

example/server
example/client
example/hello
example/simplecli
example/simplesvr
example/benchmark
example/redirect
example/sse*
example/upload
example/one_time_request
example/server_and_client
example/*.pem
test/httplib.cc
test/httplib.h
test/test
test/server_fuzzer
test/test_proxy
test/test_split
test/test.xcodeproj/xcuser*
test/test.xcodeproj/*/xcuser*
test/*.o
test/*.pem
test/*.srl
test/_build_*
work/
benchmark/server*

*.swp

build/
Debug
Release
*.vcxproj.user
*.sdf
*.suo
*.opensdf
*.db
ipch
*.dSYM
*.pyc
.*
!/.gitattributes
!/.github
