# Terrain3D
project/test/
project/addons/godot-jolt/
project/addons/terrain_3d/bin/
project/_dev/
project/_export/
project/_tests/
src/_archive/
_misc/
_patches/
*.zip

# Docs
doc/_build

# Godot-specific ignores (Include script cache. See godot issue #75388)
/project/.import/
/project/.godot/
export.cfg
export_presets.cfg

# Objects
.scons-cache/
*.os
*.obj

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

# Editors
.vscode/
.vs/
project/addons/explore-editor-theme/
