[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=harbour-godotengine
Exec=harbour-godotengine
Name=Godot Game Engine
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).

#Name[en_US]=harbour-godotengine.desktop
