[Desktop Entry]
Name=Godot Engine
GenericName=Libre game engine
Comment=Multi-platform 2D and 3D game engine with a feature rich editor
Exec=godot -pm
Icon=godot
Terminal=false
Type=Application
Categories=Development;IDE;
