<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.godot"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- TODO: Remove the 'requestLegacyExternalStorage' attribute when https://github.com/godotengine/godot/issues/38913 is resolved -->
    <application android:requestLegacyExternalStorage="true">

        <service android:name=".GodotDownloaderService" />

    </application>

    <instrumentation
        android:name=".GodotInstrumentation"
        android:icon="@mipmap/icon"
        android:label="@string/godot_project_name_string"
        android:targetPackage="org.godotengine.godot" />

</manifest>
