<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/godot_editor_name_string"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/GodotEditorTheme"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".GodotProjectManager"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:exported="true"
            android:process=":GodotProjectManager">

            <layout android:defaultHeight="@dimen/editor_default_window_height"
                android:defaultWidth="@dimen/editor_default_window_width" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GodotEditor"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:process=":GodotEditor"
            android:launchMode="singleTask"
            android:screenOrientation="userLandscape"
            android:exported="false">
            <layout android:defaultHeight="@dimen/editor_default_window_height"
                android:defaultWidth="@dimen/editor_default_window_width" />
        </activity>

        <activity
            android:name=".GodotGame"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
            android:label="@string/godot_project_name_string"
            android:process=":GodotGame"
            android:launchMode="singleTask"
            android:exported="false"
            android:screenOrientation="userLandscape">
            <layout android:defaultHeight="@dimen/editor_default_window_height"
                android:defaultWidth="@dimen/editor_default_window_width" />
        </activity>

    </application>

</manifest>
