<?xml version="1.0" encoding="UTF-8" ?>
<class name="SpringBoneCollisionSphere3D" inherits="SpringBoneCollision3D" api_type="core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../class.xsd">
	<brief_description>
		A sphere shape collision that interacts with [SpringBoneSimulator3D].
	</brief_description>
	<description>
		A sphere shape collision that interacts with [SpringBoneSimulator3D].
	</description>
	<tutorials>
	</tutorials>
	<members>
		<member name="collide_mode" type="int" enum="SpringBoneCollision3D.CollideMode" setter="set_collide_mode" getter="get_collide_mode" default="SpringBoneCollision3D.COLLIDE_MODE_JOINT">
			Sets whether the collides or traps the joint spheres, or interacts with the tapered cones between them.
		</member>
		<member name="radius" type="float" setter="set_radius" getter="get_radius" default="0.1">
			The sphere's radius.
		</member>
	</members>
</class>
