<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.godot.plugin.payment">

    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.GodotPayment"
            android:value="org.godotengine.godot.plugin.payment.GodotPayment" />

    </application>
</manifest>
