[submodule "binaries/ext/tinyprintf"]
	path = binaries/barebones/ext/tinyprintf
	url = https://github.com/fwsGonzo/tinyprintf.git
[submodule "examples/webapi/cpp-httplib"]
	path = examples/webapi/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tests/unit/ext/lodepng"]
	path = tests/unit/ext/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "examples/wasm/program/LuaJIT"]
	path = examples/wasm/program/LuaJIT
	url = https://github.com/fwsGonzo/LuaJIT.git
